@import "tailwindcss";
/* 1. Traemos solo Playfair Display. Helvetica Neue ya viene en los ordenadores/moviles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@theme {
  /* 2. Nueva paleta de colores de la barberia */
  --color-fondo-claro: #F7F7FF;
  --color-texto-oscuro: #070707;
  --color-barber-azul: #3F88C5;
  --color-barber-rojo: #BB0A21;
  
  /* 3. Asignacion de las nuevas fuentes */
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: "Playfair Display", serif;
}

/* 4. Aplicacion automatica a toda la pagina */
body {
  background-color: var(--color-fondo-claro);
  color: var(--color-texto-oscuro);
  font-family: var(--font-sans);
}

/* Forzamos que todos los titulos utilicen la fuente Playfair Display */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
